@model List<Order>

@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}



<h1>List of Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Total Amount</th>
            <th>Status</th>
            @foreach (var order in Model)
            {
                @if (order.Status == "Menunggu Konfirmasi Admin")
                {
                    <th>Actions</th>

                }

                else if (order.Status == "Pesanan anda sedang di proses")
                {

                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.OrderByDescending(o => o.OrderId))
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.UserId</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>@order.Status</td>
                <td>
                    @if (order.Status == "Menunggu Konfirmasi Admin")
                    {
                        <a href="@Url.Action("ProcessOrder", "ConfirmationAdmin", new { orderId = order.OrderId })">Process Order</a>
                    }
                    else if (order.Status == "Pesanan Anda sedang diproses")
                    {
                        <a href="@Url.Action("ShipOrder", "ConfirmationAdmin", new { orderId = order.OrderId })">Ship Order</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
