@model TernakSepatu.Models.ProductDto

@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Form Basic -->
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Create Product</h6>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="ProductName">Product Name</label>
                        <input asp-for="ProductName" class="form-control" id="ProductName" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CategoryID">Category</label>
                        <select asp-for="CategoryID" class="form-control" id="CategoryID">
                            <option value="">-- Select Category --</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.CategoryName</option>
                            }
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="BrandID">Brand</label>
                        <select asp-for="BrandID" class="form-control" id="BrandID">
                            <option value="">-- Select Brand --</option>
                            @foreach (var brand in ViewBag.Brands)
                            {
                                <option value="@brand.Id">@brand.BrandName</option>
                            }
                        </select>
                        <span asp-validation-for="BrandID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="SubCategoryID">Subcategory</label>
                        <select asp-for="SubCategoryID" class="form-control" id="SubCategoryID">
                            <option value="">-- Select Subcategory --</option>
                            @foreach (var subcategory in ViewBag.SubCategories)
                            {
                                <option value="@subcategory.Id">@subcategory.SubCategoryName</option>
                            }
                        </select>
                        <span asp-validation-for="SubCategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Size">Size</label>
                        <input asp-for="Size" class="form-control" id="Size" />
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Colors">Colors</label>
                        <select asp-for="Colors" class="form-control" id="Colors">
                            <option value="">Select Color</option>
                            <option value="White">White</option>
                            <option value="Black">Black</option>
                            <option value="Blue">Blue</option>
                            <option value="Grey">Grey</option>
                            <option value="Red">Red</option>
                            <option value="Green">Green</option>
                            <option value="White-Black">White - Black</option>
                            <option value="White-Blue">White - Blue</option>
                            <option value="White-Grey">White - Grey</option>
                            <option value="White-Green">White - Green</option>
                            <option value="Black-Blue">Black - Blue</option>
                            <option value="Black-Red">Black - Red</option>
                            <option value="Black-Green">Black - Green</option>
                        </select>
                        <span asp-validation-for="Colors" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Details">Details</label>
                        <textarea asp-for="Details" class="form-control" id="Details"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ImageURL">Product Image</label>
                        <input type="file" class="form-control-file" id="ImageURL" name="ImageURL" multiple />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input asp-for="Price" class="form-control" id="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Discount">Discount</label>
                        <input asp-for="Discount" class="form-control" id="Discount" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <select asp-for="Gender" class="form-control" id="Gender">
                            <option value="">Select Gender</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Wanita">Wanita</option>
                            <option value="Unisex">Unisex</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Stock">Stock</label>
                        <select asp-for="Stock" class="form-control" id="Stock">
                            <option value="">Select Stock</option>
                            <option value="Ready">Ready</option>
                        </select>
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Condition">Condition</label>
                        <select asp-for="Condition" class="form-control" id="Condition">
                            <option value="">Select Condition</option>
                            <option value="Second">Second</option>
                            <option value="New">New</option>
                        </select>
                        <span asp-validation-for="Condition" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index" role="button">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

