@model List<TernakSepatu.Models.Product>
@{
    ViewData["Title"] = "Daftar Produk";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    int index = 1;
}

<div class="row">
    <div class="col-lg-12 mb-4">
        <!-- Tabel Sederhana -->
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Daftar Produk</h6>
                <a asp-controller="Product" asp-action="Create">Tambahkan</a>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>Nama Produk</th>
                            <th>Kategori</th>
                            <th>Subkategori</th>
                            <th>Merek</th>
                            <th>Harga</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@product.ProductName</td>
                                <td>@product.Category.CategoryName</td>
                                <td>@product.SubCategory.SubCategoryName</td>
                                <td>@product.Brand.BrandName</td>
                                <td>@product.Price</td>
                                <td style="white-space:nowrap">
                                    <a class="btn btn-primary btn-sm" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                                    <a class="btn btn-primary btn-sm" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Hapus</a>
                                </td>
                            </tr>
                            index++; // Tambahkan index di dalam loop
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
