@model List<TernakSepatu.Models.Wishlist>

@{
    Layout = "~/Views/Shared/Costumer/_Layout.cshtml";
}


<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Gambar</th>
                        <th>Nama Produk</th>
                        <th>Dibuat Pada</th>
                        <th>Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @if (item.Product != null)
                                {
                                    <img src="~/Images/Product/@item.Product.ImageURL.Split(',')[0]" alt="@item.Product.ProductName" style="width: 50px;">
                                }
                            </td>
                            <td>@item.Product.ProductName</td> <!-- Akses Nama Produk melalui navigation property -->
                            <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Tindakan Wishlist">
                                    <!-- Tombol Lihat Detail -->
                                    <a href="@Url.Action("Detail", "Home", new { id = item.ProductId })" class="btn btn-sm btn-dark" role="button">
                                        <i class="fas fa-eye"></i> Lihat Detail
                                    </a>
                                    <!-- Spasi -->
                                    <div style="width: 10px;"></div>
                                    <!-- Tombol Hapus -->
                                    <form asp-controller="Wishlist" asp-action="RemoveFromWishlist" method="post">
                                        <input type="hidden" name="wishlistId" value="@item.Id" />
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
