  
  
<div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <!-- Side Menu -->
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-dark text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0 text-white">Categories</h6>
                    <i class="fa fa-angle-down text-white"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        @foreach (var category in ViewBag.Category)
                        {
                            <a href="@Url.Action("Shop", "Home", new { categoryName = category.CategoryName })" class="nav-item nav-link">@category.CategoryName</a>
                        }
                    </div>
                </nav>
            </div>

            <!-- Main Content -->
            <div class="col-lg-9">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold">Ternak Sepatu</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Home</a>
                            <a asp-controller="Home" asp-action="Shop" class="nav-item nav-link">Shop</a>
                        @if (User.IsInRole("admin"))
                        {
                            <a href="~/Admin/Dashboard" class="nav-item nav-link">Admin</a>
                        }
                    </div>
                    </div>
                </nav>

                <!-- Landing Page Carousel -->
                @if (ViewData["LandingPages"] != null && ((IEnumerable<LandingPage>)ViewData["LandingPages"]).Any(lp => lp.Status != null && lp.Status.ToLower() == "aktif"))
                {
                    <div id="header-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                var landingPages = (IEnumerable<LandingPage>)ViewData["LandingPages"];
                                bool isFirst = true;
                                int activeCount = 0;
                            }
                            @foreach (var landingPage in landingPages)
                            {
                                if (landingPage.Status != null && landingPage.Status.ToLower() == "aktif")
                                {
                                    <div class="carousel-item @(isFirst ? "active" : "")" style="height: 410px;">
                                        <img class="img-fluid" src="~/Images/LandingPage/@landingPage.ImageURL" alt="@landingPage.Text">
                                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                            <div class="p-3" style="max-width: 700px;">
                                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">@landingPage.Text</h3>
                                            <a asp-controller="Home" asp-action="Shop" class="btn btn-light py-2 px-3">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    isFirst = false;
                                    activeCount++;
                                }
                            }
                        </div>
                        @if (activeCount > 1)
                        {
                            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-prev-icon mb-n2"></span>
                                </div>
                            </a>
                            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                    <span class="carousel-control-next-icon mb-n2"></span>
                                </div>
                            </a>
                        }
                    </div>
                }
                else
                {
                    <!-- Default Content -->
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <img src="~/Images/Logo/Logo.png" alt="Ternak Sepatu" class="img-fluid" style="width: 500px; height: 70px; object-fit: contain;">
                                <h3 class="mt-3">Admin sedang ngantuk</h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    </div>
    <!-- End of container-fluid -->
