@model TernakSepatu.Models.Order

@{
    Layout = "~/Views/Shared/Costumer/_Layout.cshtml";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-md-12">
            <h1>Detail Pesanan</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>ID Pesanan:</strong></td>
                        <td>@Model.OrderId</td>
                    </tr>
                    <tr>
                        <td><strong>Tanggal Pesanan:</strong></td>
                        <td>@Model.OrderDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <td><strong>Total Pembayaran:</strong></td>
                        <td>@Model.TotalAmount.ToString("C")</td>
                    </tr>
                    <tr>
                        <td><strong>Metode Pembayaran:</strong></td>
                        <td>@Model.PaymentMethod</td>
                    </tr>
                    <tr>
                        <td><strong>Metode Pengiriman:</strong></td>
                        <td>@Model.ShippingMethod</td>
                    </tr>
                    <tr>
                        <td><strong>Status:</strong></td>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <td><strong>Alamat Pengiriman:</strong></td>
                        <td>@Model.ShippingAddress</td>
                    </tr>
                </tbody>
            </table>


            <hr />

            <h2>Detail Barang Pesanan</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Produk</th>
                        <th>Jumlah</th>
                        <th>Harga Per Unit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>@item.Product.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.PricePerUnit.ToString("C")</td>
                        </tr>
                    }

                    <!-- Logika tambahan untuk beberapa produk -->
                    @if (Model.OrderDetails.Count > 1)
                    {
                        <tr>
                            <td colspan="3"><strong>Total Pembayaran Pesanan:</strong></td>
                            <td>@Model.TotalAmount.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <a asp-action="Index" class="btn btn-dark">Kembali ke Daftar Pesanan</a>
        </div>
    </div>
</div>
