@model TernakSepatu.Models.Order

@{
    Layout = "~/Views/Shared/Costumer/_Layout.cshtml";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-md-12">
            <h1>Order Details</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Order ID:</strong></td>
                        <td>@Model.OrderId</td>
                    </tr>
                    <tr>
                        <td><strong>Order Date:</strong></td>
                        <td>@Model.OrderDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <td><strong>Total Amount:</strong></td>
                        <td>@Model.TotalAmount.ToString("C")</td>
                    </tr>
                    <tr>
                        <td><strong>Payment Method:</strong></td>
                        <td>@Model.PaymentMethod</td>
                    </tr>
                    <tr>
                        <td><strong>Shipping Method:</strong></td>
                        <td>@Model.ShippingMethod</td>
                    </tr>
                    <tr>
                        <td><strong>Status:</strong></td>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <td><strong>Tujuan:</strong></td>
                        <td>@Model.ShippingAddress</td>
                    </tr>
                </tbody>
            </table>


            <hr />

            <h2>Order Items</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price Per Unit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>@item.Product.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.PricePerUnit.ToString("C")</td>
                        </tr>
                    }

                    <!-- Additional logic for multiple products -->
                    @if (Model.OrderDetails.Count > 1)
                    {
                        <tr>
                            <td colspan="3"><strong>Total Order Amount:</strong></td>
                            <td>@Model.TotalAmount.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <a asp-action="Index" class="btn btn-dark">Back to Orders</a>
        </div>
    </div>
</div>
